snippet react.class "Create a react class"
const $1 = React.createClass({
	render() {
		$2
	}
});
endsnippet

snippet react.render "Render a react class"
ReactDOM.render(
	React.createElement($1, {$2}),
	document.getElementById('$3')
);
endsnippet
